/* header */
header{
  align-items: center;
  height: 130px;
  background-color: #fff;
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header-set{
  display: flex;
  margin-left: 5%;
  align-items: center;
}
.header-week{
  display: flex;
}
.header-btn{
  display: flex;
  margin-right: 15px;
  width: 200px;
  background-color: dodgerblue;
  z-index: 99;
  height: 70px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}
/* main */

body {
  margin: 0;
  width: 100%;
  background-color: whitesmoke;
  
}

.container {
  position: relative;
  width: 80%;
  /* max-height: 2000px; */
  margin: 0 auto;
  display: grid;
  gap: 20px;
  padding-top: 50px;
  
  grid-template-columns: repeat(2, 1fr);
}

.box-wrapper1 {
  display: grid;
  gap: 20px;
}

.box1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
  height: 200px;
  
}
.box1>li{
  text-align: center;
  align-items: center;
  font-size: larger;
  border-radius: 20px;
  
}
.article{
  color: blue;
}
.hour{
  color: darkgray;
}
.today-number{
  font-size: 40px;
  font-weight: bolder;
}
.month-number{
  font-size: 40px;
  font-weight: bolder;
}
.total-number{
  font-size: 40px;
  font-weight: bolder;
}

.box-item {
  background-color: #fff;
  list-style: none;
}

.box2 {
  background-color: #fff;
  height: 100%;
  height: 700px;
  border-radius: 20px;
}

.box-wrapper2 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.box3 {
  background-color: #fff;
  border-radius: 20px;
}
.box-item{
  display: grid;
}
/* メイン　ボトム */
.main-bottom-box{
  width: 100%;
  margin: 3% auto;
  display: flex;
  justify-content: center;
}
.bottom-box-date{
  display: flex;
  margin: 0 3%;
}
.bottom-box-date>div{
  font-size: 30px;
}
/* モーダル */
.modal {
  display: none;
}
.modal.openModal {
  display: block;
  z-index: 100;
  width: 70%;
  height: 1150px;
  background-color: #f0f8ff;
  position: absolute;
  margin-left: 15%;
  margin-top: 100px;
  inset: 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bolder;
  padding: 30px;
}



/* モーダル中 */
.modal.closeModal{
  display: none;
}
.modal-boxes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  height: 80%;
}

.modal-box-typeA{
  height: 150px;
  margin: 10px;
}
.modal-box-typeB{
  height: 280px;
  margin: 10px;
}
.modal-box-typeC{
  height: 450px;
  margin: 10px;
}

.modal-btn{
  display: inline;
  width: 100%;
}
.modal-btn>p{
  width: 50px;
  height: 50px;
  margin: 0 0 0 auto;
  border-radius: 90%;
  border: 1.0px solid black;
  text-align: center;
  align-items: center;
  font-size: 40px;
}
.btn-wrapper{
  width: 100%;
  text-align: center;
  
}
.submit-btn{
  background-color: cyan;
  width: 150px;
  height: 80px;
  justify-content: center;
  border-radius: 20%;

}

/* モーダルの項目 */
.modal-box-typeA>div{
  margin: 2% auto 2% 0;
  width: 95%;
  height: 70%;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 30px;
  display: grid;
}
.modal-box-typeB>div{
  margin: 2% auto 2% 0;
  width: 95%;
  height: 70%;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  
 
}
.modal-box-typeC>div{
  margin: 2% auto 0 0;
  width: 95%;
  height: 70%;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  
}

/* モーダルのボタン */
.input-checkbox{
  display: none;
}

.label{
  width: fit-content;
  height: 60px;
  font-size: 40px;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
}

.span{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
  font-size: 30px;
  background-color: rgb(190, 192, 192);
  color: #fff;
}

/* ボタン変化 */
.input-checkbox:checked + .label{
  background-color: rgb(206, 226, 249);
  
}

.input-checkbox:checked + label>span{
  color: #fff;
  background-color: blue;
}




/* ローディング画面 */
.loading-wrapper{
  display: none;
}
.loading-wrapper.openLoading{
  display: block;
  z-index: 100;
  width: 70%;
  height: 1150px;
  background-color: #f0f8ff;
  position: absolute;
  margin-left: 15%;
  margin-top: 100px;
  inset: 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bolder;
  
  text-align: center;
  
}
.loading-wrapper.vanish{
  display: none;
}
.circle{
  margin-top: 500px;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 8px solid #0d6bbd;
  border-top: 7px solid #9acfef;
  border-radius: 50px;
  animation:2s linear infinite rotation;
}
.circle.spin{
  display: block;
}
@keyframes rotation{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}
  /* モーダルを消す */
.modal.vanish{
  display: none;
}
/* 投稿完了 */
.done{
  display: none;
}
.done.openDone{
  display: block;
  z-index: 100;
  width: 70%;
  height: 1150px;
  background-color: #f0f8ff;
  position: absolute;
  margin-left: 15%;
  margin-top: 100px;
  inset: 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bolder;
  padding: 20%;
  text-align: center;
  align-items: center;
}
.done.vanish{
  display: none;
}

/* 日時 */
.date{
  display: none;
}
.date.openDate{
  display: block;
  z-index: 100;
  width: 100%;
  height: 1150px;
  background-color: #f0f8ff;
  position: absolute;
  
  margin-top: 100px;
  inset: 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bolder;
  padding: 20%;
  text-align: center;
  align-items: center;
}

.twitter-btn{
  display: flex;
  margin-right: 15px;
  width: 200px;
  background-color: dodgerblue;
  z-index: 99;
  height: 70px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}